relog-backend-api/src/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- <definitions> must be the root of the WSDL document -->
<wsdl:definitions targetNamespace="http://tempuri.org/" 
  xmlns:s="http://www.w3.org/2001/XMLSchema" 
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
  xmlns:tns="http://tempuri.org/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <!-- WSDL TYPES: definition of the data types that are used in the web service -->
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="IntegrationRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="family" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="serial" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="serial2" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="fabrication_date" type="s:dateTime"/>
            <s:element minOccurs="1" maxOccurs="1" name="id_engine_type" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="id_rack" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IntegrationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="unbounded" name="result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <!-- MESSAGES: defines the data being exchanged between the service and client -->
  <wsdl:message name="IntegrationSoapIn">
    <wsdl:part name="parameters" element="tns:IntegrationRequest"/>
  </wsdl:message>
  <wsdl:message name="IntegrationSoapOut">
    <wsdl:part name="parameters" element="tns:IntegrationResponse"/>
  </wsdl:message>
  <!-- PORT TYPES: defines the complete communication operation (one way/round trip) -->
  <wsdl:portType name="IntegrationSoapPort">
    <!-- The operation name must be the same as the one specified in the service object -->
    <wsdl:operation name="Integration">
      <wsdl:input message="tns:IntegrationSoapIn"/>
      <wsdl:output message="tns:IntegrationSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <!-- BINDING: provides details on how a portType operation will actually be transmitted -->
  <wsdl:binding name="IntegrationServiceSoapBinding" type="tns:IntegrationSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Integration">
      <soap:operation soapAction="Integration" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <!-- SERVICE:  -->
  <wsdl:service name="IntegrationService">
    <wsdl:port name="IntegrationServiceSoapPort" binding="tns:IntegrationServiceSoapBinding">
      <soap:address location="http://localhost:3002/integrateRackEngine"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>